<!DOCTYPE html>
<html>
    <head>
        <title>邻家美食-订单确认</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
        <link rel="stylesheet" href="./stylesheets/common.css">
        <link rel="stylesheet" href="./stylesheets/booking.css">
        <script type='text/javascript' src='./javascripts/config.js'></script>
        <script type='text/javascript' data-main='./javascripts/booking.js' src='./javascripts/lib/require.js'></script>
    </head>
    <body>
        <div id='j_booking' class='booking'>
            <section class="ljms-blc">
                <div class="booking-info clearfix"><i class="icon icon-person booking-info-icon" fl></i><input type="text" v-model="booking.contact" placeholder="请输入您的姓名" fr/></div>
                <div class="booking-info clearfix"><i class="icon icon-tel booking-info-icon" fl></i><input type="tel"  v-model="booking.mobile" placeholder="请输入您的手机"fr maxlength="11" /></div>
                <div class="booking-info clearfix" style="line-height: 35px;"><i class="icon icon-loc booking-info-icon" fl></i>{{addr.name}}<input v-model="booking.roomNumber" style="width: 60%" placeholder="请输入办公室/房间号"fr /></div>
            </section>
            <section class="booking-detail ljms-blc">
                <div class="ljms-blc-title">订单详情<span fr clr="ora">今天中午11:45-12:00</span></div>
                <ul class="booking-cart-list">
                    <li class="clearfix" v-for="item in booking.orderDishes">
                        <img v-bind:src="item.photo" class="booking-cart-pic" fl mgr=4 />
                        <div class="booking-goods-info">
                            <p><span fz=16>{{item.displayName}}</span><span fz=14 fr>¥{{item.price}}</span></p>
                            <p class="tip" fz=12>{{item.kitchenName}}</p>
                            <p fz=12 clr="hgrey">x{{item.number}}份</p>
                        </div>
                    </li>
                </ul>
                <ul class="booking-cash-info">
                    <li>
                        <span fz=14>菜品总价</span><span fr fz=14>¥{{totalprice}}</span>
                    </li>
                </ul>
                <div class="booking-total">
                    <span fz=14>需支付</span><span fr fz=14>¥{{payprice}}</span>
                </div>
            </section>
            <section class="booking-paymethod ljms-blc">
                <ul class="booking-paymethod-list">
                    <li>微信钱包<i class="active" fr></i></li>
                    <li disabled>支付宝 <i fr></i></li>
                </ul>
            </section>
            <section class="booking-btn">
                <button bg-ora="" class="btn" v-on:click="placeorder">确认下单</button>
            </section>
        </div>
    </body>
</html>