@charset "utf-8";
* {
	margin: 0;
	padding: 0; 
}
html {
    color:#000;
    background:#f8f8f8;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
a {
	text-decoration:none;
}
body *{
	font:12px/1.5 "Microsoft Yahei",tahoma,arial;
}
img,
input, 
button{
	border: 0;
	outline: none;
}

[clr-red]{
	color: red;
}
.btn:active{
    -webkit-filter: hue-rotate(-30deg);
    filter: hue-rotate(-30deg);
}