@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
}
html {
    color:#333;
    background-color: #f8f8f8;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
a {
    text-decoration:none;
}
body *{
    font:12px/1.5 "Microsoft Yahei",tahoma,arial;
}
img{
    display: block;
}
img,
input,
button{
    border: 0;
    outline: none;
}
li{
    list-style: none;
}
input::-webkit-input-placeholder{
    color: #ccc;
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}
[fl]{
    float: left;
}
[fr]{
    float: right;
}
/*定于全局颜色*/
[clr-fff]{
    color: #fff;
}
[clr-red]{
    color: red;
}
[clr-ora]{
    color: #ff5422;
}
[clr-dgrey]{
    color: #666;
}
[clr-grey]{
    color: #b5b5b5;
}
[clr-lgrey]{
    color: #ccc;
}
[bg-ora]{
    background-color: #ff5422;
}
[bg-fff]{
    background-color: #fff;
}
[bg-lgrey]{
    background-color: #f8f8f8;
}
[bg-ccc]{
    background-color: #ccc;
}
[bg-op]{
    background-color: rgba(0,0,0,.6);
}
[clr='000']{
    color: #000;
}
[clr="fff"]{
    color: #fff;
}
[clr="red"]{
    color: red;
}
[clr="ora"]{
    color: #ff5422;
}
[clr="dgrey"]{
    color: #666;
}
[clr="grey"]{
    color: #b5b5b5;
}
[clr="hgrey"]{
    color: #999;
}
[clr="lgrey"]{
    color: #ccc;
}
[bg="ora"]{
    background-color: #ff5422;
}
[bg="fff"]{
    background-color: #fff;
}
[bg="lgrey"]{
    background-color: #f8f8f8;
}
[bg="ccc"]{
    background-color: #ccc;
}
[bg="op"]{
    background-color: rgba(0,0,0,.6);
}
[br-ccc]{
    border: 1px solid #ccc;
}
[br-ddd]{
    border: 1px solid #ddd;
}
[br-grey]{
    border: 1px solid #eee;
}
[br-org]{
    border: 1px solid #ff5422;
}
[hr-ora].current{
    color: #ff5422;
    transition: color 1s;
}
[fz-12]{
    font-size: 12px;
}
[fz-14]{
    font-size: 14px;
}
[fz-16]{
    font-size: 16px;
}

[fz="12"]{
    font-size: 12px;
}
[fz="14"]{
    font-size: 14px;
}
[fz="16"]{
    font-size: 16px;
}
[mgr="4"] {
    margin-right: 4px;
}

/*定义基本class*/
.hide{
    display: none !important;
}
.btn{
    width: 100%;
    padding: 10px 0;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
}
.btn:active{
    will-change: -webkit-filter;
    -webkit-filter: hue-rotate(-30deg);
}

/*定义所有sprites*/
.icon{
    content: ' ';
    display: inline-block;
    background-image: url(../images/sprites.png);
    background-repeat: no-repeat;
    background-size: 427px 438px;
}
/*渐显动画*/
.opacity{
    will-change: opacity;
    -webkit-animation: left-in .3s;
    animation: left-in .3s;
}
@-webkit-keyframes opacity{
    0%{
        opacity: 0;
    },
    100%{
        opacity: 1;
    }
}
@keyframes opacity{
    0%{
        opacity: 0;
    },
    100%{
        opacity: 1;
    }
}
/*向左移出*/
.left-out{
    will-change: transform;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
/*从左进入*/
.left-in{
    will-change: transform;
    -webkit-animation: left-in .3s;
    animation: left-in .3s;
}
@-webkit-keyframes left-in{
    0%{
        -webkit-transform: translateX(-100%);
    },
    100%{
        -webkit-transform: translateX(0);
    }
}
@keyframes left-in{
    0%{
        transform: translateX(-100%);
    },
    100%{
        transform: translateX(0);
    }
}
/*向上滑出*/
.top-out{
    will-change: transform;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
/*从上进入*/
.top-in{
    will-change: transform;
    -webkit-animation: top-in .3s;
    animation: top-in .3s;
}
@-webkit-keyframes top-in{
    0%{
        -webkit-transform: translateY(-100%);
    },
    100%{
        -webkit-transform: translateY(0);
    }
}
@keyframes top-in{
    0%{
        transform: translateY(-100%);
    },
    100%{
        transform: translateY(0);
    }
}
/*向下滑出*/
.down-out{
    will-change: transform;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}
/*从下进入*/
.down-in{
    will-change: transform;
    -webkit-animation: down-in .3s;
    animation: down-in .3s;
}
@-webkit-keyframes down-in{
    0%{
        -webkit-transform: translateY(100%);
    },
    100%{
        -webkit-transform: translateY(0);
    }
}
@keyframes down-in{
    0%{
        transform: translateY(100%);
    },
    100%{
        transform: translateY(0);
    }
}
/*定义所有白色block*/
.ljms-blc {
    display: block;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 #dadada;
    margin-bottom: 16px;
    padding: 6px 8px;
}
.ljms-blc-title {
    margin: 0 -6px;
    padding: 4px 6px 10px;
    box-shadow: 0 1px 0 0px #dadada;
}
.tip {
    font-size: 12px;
    color: #999;
}
.avatar {
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 50%;
}

.mask{
    background-color: rgba(0,0,0,.6);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.center{
    width: 80px;
    height: 110px;
    position: absolute;
    left: 50%;
    top: 30%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
.center-msg{
    width: 100%;
}
.loading:before{
    width: 50%;
    height: 50%;
    background: #eee;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.loading:after{
    background: #666;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.loading-word{
    position: absolute;
    width: 80px;
    bottom: 0;
    color: #fff;
    text-align: center;
    left: 0;
}
.loading{
    text-indent: -999px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #eee;
    background: -webkit-linear-gradient(left, #eee 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #eee 10%, rgba(255, 255, 255, 0) 42%);
    position: absolute;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
}
@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes load3 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.message-word{
    position: absolute;
    width: 60%;
    left: 20%;
    top: 100%;
    color: #fff;
    text-align: center;
    word-break: break-all;
    font-weight: 700;
    background-color: rgba(0,0,0,.6);
    padding: 10px 15px;
    border-radius: 5px;
    box-sizing: border-box;
}