@charset "utf-8";
* {
	margin: 0;
	padding: 0; 
}
html {
    color:#333;
    background:#f8f8f8;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
a {
	text-decoration:none;
}
body *{
	font:12px/1.5 "Microsoft Yahei",tahoma,arial;
}
img,
input, 
button{
	border: 0;
	outline: none;
}
li{
	list-style: none;
}
/*定于全局颜色*/
[clr-red]{
	color: #ff5422;
}
[clr-grey]{
	color: #b5b5b5;
}
[bg-red]{
	background-color: #ff5422;	
}
[br-grey]{
	border: 1px solid #eee; 
}
[hr-red].current{
	color: #ff5422;
	transition: color 1s;
}
input::-webkit-input-placeholder{
	color: #ccc;
}
[fz-14]{
	font-size: 14px;
}

/*定义基本class*/
.hide{
	display: none !important;
}
.btn:active{
    -webkit-filter: hue-rotate(-30deg);
    filter: hue-rotate(-30deg);
}

/*定义所有sprites*/
.icon{
	background-image: url(../images/sprites.png);
    background-repeat: no-repeat;
    background-size: 427px 438px;
}