.detail-carousel {
    width: 100%;
    max-height: 185px;
}

/*kitchen*/
.kitchen-detail {
    position: relative;
}
.kitchen-brief span {
    margin-right: 5px;
}
.kitchen-status {
    position: absolute;
    top: 6px;
    right: 1px;
    padding: 2px;
    color: #d73300;
    box-shadow: 0 0 0 1px #d73300;
}
.kitchen-desc,
.comment-desc {
    padding: 0 0 0 12px;
    min-height: 45px;
    overflow: hidden;
    position: relative;
}
.detail-carousel {
    overflow: hidden;
}
.carousel-wrapper {
    overflow: visible;
    will-change: transform;
    animation: ljms-carousel 32s cubic-bezier(0.15, 0.02, 0.83, 0.94) 0s infinite alternate;
}
@keyframes ljms-carousel
{
from {transform: translateX(0);}
to {transform: translateX(-100%);}
}
.carousel-wrapper .item {
    float: left;
}
/*comments*/
.comment-list {
    margin: 0 -6px;
}
.comment-list > li {
    padding: 16px 6px;
    border-bottom: 1px solid #dadada;
}
.comment-list > li:last-child {
    border: none;
}
.comment-list .comment-user {
    line-height: 45px;
}
.comment-time {
    position: absolute;
    top: 2px;
    right: 2px;
}

.icon-heart {
    width: 12px;
    height: 12px;
    background-position: -133px -47px;
}
