.booking {
    padding-bottom: 70px;
}
.booking input {
    box-shadow: 0 0 0 1px #ddd;
    padding: 5px;
    border-radius: 2px;
    width: 80%;
    height: 25px;
    font-size: 16px;
}

.booking-info {
    padding: 6px 2px;
    border-bottom: 1px solid #ddd;
    line-height: 32px;
}
.booking-info > [fl],
.booking-info > [fr] {
    margin-top: 8px;
}
.booking-info:last-child {
    border: none;
}
.booking-info-icon {

}
.booking-info > .icon {
    margin: 6px 2px 0 2%;
}

.booking-cart-list,
.booking-paymethod-list {
    border-bottom: 1px solid #ddd;
}
.booking-cart-list,
.booking-paymethod-list {
    border: none;
}
.booking-cart-list > li,
.booking-paymethod-list > li {
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}
.booking-cart-list > li:last-child,
.booking-paymethod-list > li:last-child {
    border: none;
}
.booking-cart-pic {
    width: 120px;
    height: 80px;
}
.booking-goods-info {
    overflow: hidden;
    padding-left: 10px;
}
.booking-goods-info > * {
    width: 100%;
}
.booking-cash-info {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 8px 0;
}
.order-dishes {
    position: relative;
    margin-left: 18px;
}
.order-dishes > .icon {
    position: absolute;
    left: -12px;
    top: 1px;
}
.booking-paymethod-list li > i {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #ccc;
}
.booking-paymethod-list li > i.active {
    background-color: #ff5422;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #ff5422;
}
.booking-total {
    padding: 6px 0;
}
.booking-btn {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    box-sizing: border-box;
}
.icon-date {
    width: 20px;
    height: 20px;
    background-position: -32px -220px;
}
.icon-person {
    width: 20px;
    height: 20px;
    background-position: -54px -220px;
}
.icon-order {
    width: 20px;
    height: 20px;
    background-position: -98px -220px;
}
.icon-olist {
    width: 20px;
    height: 20px;
    background-position: -120px -220px;
}
.icon-loc {
    width: 20px;
    height: 20px;
    background-position: -75px -220px;
}