.paywaiting .icon-logo {
    width: 86px;
    height: 94px;
    background-position: -91px -294px;
    margin: 70px auto 40px auto;
    display: block;
}
.paywaiting .aside {
    text-align: center;
    margin: auto;
}